/* BODY */
body {
    font-family: var(--ff-base);
    color: var(--clr-text);
    font-size: var(--fs-200);
    line-height: 1.4;
    width: min(100% - 3rem, 65ch);
    margin-inline: auto;
}

/* Abstand zum Bildschirmrand oben */
main {
    padding-top: 8.0rem;
    background-image: url('img\1060410.jpg');
}

/* TEXTS */
p {
}

/* LINKS */
a {
    transition: background-color 0.8s ease-in-out, font-size 0.4s ease-in-out;
    color: #f1f3f5;
    text-decoration: none;
}

a:hover {
    background-color: #fe070e;
    font-size: 1.1em;
}

/* MENUS */
.topmenu {
    margin-top: 2.5rem;
    font-size: 2.0rem;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 12;
    width: 100%;
    left: 0;
}

.transparent {
    background-color: #95737288;
    opacity: 0.1;
}



/* MENUS */
footer {
    font-size: 15px;
    background-color: #415161;
    width: 100%;
    color: #f1f3f5;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

footer p {
    color: #f1f3f5;
    padding-left: 5px;
    padding-right: 5px;
}


nav a {
    margin-right: 20px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color-scheme: light dark;
}

img {
    width: 100%;
}

/* SCHRIFTART */
@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-VariableFont_wght.ttf') format('truetype');
}

:root {
    --clr-text: #000000;
    --clr-surface: #f9fafa;
    --clr-primary: #737288;
    --clr-secondary: #ffffff;
    --clr-accent: #7e7288;

    --ff-base: 'Quicksand', sans-serif;
    --ff-accent: 'Quicksand Condensed', sans-serif;

    --fs-100: clamp(0.77rem, calc(0.80rem + -0.03vw), 0.79rem);
    --fs-200: clamp(0.89rem, calc(0.84rem + 0.25vw), 1.03rem);
    --fs-300: clamp(1.00rem, calc(0.87rem + 0.65vw), 1.38rem);
    --fs-400: clamp(1.13rem, calc(0.88rem + 1.23vw), 1.83rem);
    --fs-500: clamp(1.27rem, calc(0.86rem + 2.05vw), 2.44rem);
    --fs-600: clamp(1.42rem, calc(0.79rem + 3.19vw), 3.26rem);
    --fs-700: clamp(1.60rem, calc(0.65rem + 4.76vw), 4.34rem);
    --fs-800: clamp(1.80rem, calc(0.42rem + 6.93vw), 5.79rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-text: #f9fafa;
        --clr-surface: #000000;
        --clr-primary: #737288;
        --clr-secondary: #0f1215;
        --clr-accent: #7e7288;
    }
}

.center {
    text-align: center;
}

.wrapper {

}

.flow > * + * {
    margin-top: 1em;
}

