/* BODY */
body {
    font-size: 24px;
    font-family: Bahnschrift;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
}

main {
    padding-top: 100px;
}

/* TEXTS */
p {
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
}

/* LINKS */
a {
    transition: background-color 0.8s ease-in-out, font-size 0.4s ease-in-out;
    color: #f1f3f5;
    text-decoration: none;
}

a:hover {
    background-color: #fe070e;
    font-size: 1.1em;
}

/* MENUS */
.topmenu {
    width: 100%;
    height: 38px;
    background-color: #415161;
    align-content: center;
    text-align: center;
    padding: 20px;
    position: fixed;
    font-size: 36px;
}

.sidemenu {
    width: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 100px;
    text-align: left;
    position: fixed;
    font-size: 14px;
    background-color: #fe070e;
    right: 0;
}

footer {
    font-size: 15px;
    background-color: #415161;
    width: 100%;
    color: #f1f3f5;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: #f1f3f5;
    padding-left: 20px;
    padding-right: 20px;
}

/* TABELLEN */
table {
    border: 1px solid black;
    border-color: white;
}

tr {
}

td {
    min-width: 50%;
}


/* BILDER */
img {
    width: 700px;
    border: 0px solid black;
}

.copyright {
    filter: invert(100%);
}

nav a {
    margin-right: 20px;
}

/* Color theme */
.dark {
    font-family: Bahnschrift;
    font-size: 24px;
    color: black;
}

.light {
    font-family: Bahnschrift;
    font-size: 24px;
}


