/* BODY */
body {
    font-family: var(--ff-base);
    color: var(--clr-text);
    font-size: var(--fs-200);
    line-height: 1.4;
    width: min(100% - 6rem, 60ch);
    margin-inline: auto;
    background-color: #1c1b22;
}

/* Abstand zum Bildschirmrand oben */
main {
    padding-top: 9rem;
}

/* FONTS */
@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-VariableFont_wght.ttf') format('truetype');
}

/* TEXTS */
p {
}

/* PICTURES */
img {
    width: 100%;
}
/* ARTICLE */
main {
    background-color: rgba(35, 34, 42, 0.91);
}


/* ELEMENT */
element {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1.6rem;
    border: 0px solid white;
    text-align: left;
}

/* CENTER */
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* LINKS */
a {
    transition: background-color 0.8s ease-in-out, font-size 0.4s ease-in-out;
    color: #f1f3f5;
    text-decoration: none;
}

a:hover {
    background-color: #fe070e;
    font-size: 1.1em;
}

/* MENUS */
.topmenu {
    margin-top: 2.5rem;
    font-size: 2.0rem;
    position: fixed;
    display: block;
    justify-content: center;
    z-index: 12;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08);
    text-align: center;
}

/* FOOTER */
footer {
    font-size: 15px;
    background-color: rgba(35, 34, 42, 0.91);
    width: 100%;
    color: #f1f3f5;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

footer p {
    color: #f1f3f5;
    padding-left: 5px;
    padding-right: 5px;
}

/* NAVBARS */

nav a {
    margin-right: 20px;
}

/* MAGIC */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.wrapper {

}

.flow > * + * {
    margin-top: 1em;
}

/* ROOT */
:root {
    --clr-text: #f9fafa;
    --clr-surface: #000000;
    --clr-primary: #737288;
    --clr-secondary: #0f1215;
    --clr-accent: #7e7288;

    --ff-base: 'Quicksand', sans-serif;
    --ff-accent: 'Quicksand Condensed', sans-serif;

    --fs-100: clamp(0.77rem, calc(0.80rem + -0.03vw), 0.79rem);
    --fs-200: clamp(0.89rem, calc(0.84rem + 0.25vw), 1.03rem);
    --fs-300: clamp(1.00rem, calc(0.87rem + 0.65vw), 1.38rem);
    --fs-400: clamp(1.13rem, calc(0.88rem + 1.23vw), 1.83rem);
    --fs-500: clamp(1.27rem, calc(0.86rem + 2.05vw), 2.44rem);
    --fs-600: clamp(1.42rem, calc(0.79rem + 3.19vw), 3.26rem);
    --fs-700: clamp(1.60rem, calc(0.65rem + 4.76vw), 4.34rem);
    --fs-800: clamp(1.80rem, calc(0.42rem + 6.93vw), 5.79rem);
}





